
#form-search-hidden {
  display: none;
}

.form-item, .form-actions {
  margin: 0;
}

#views-exposed-form-map-map-city {
  display: none;
}

.yamaps-search-form {
  display: none;
}

.yamaps-map-container {
  position: absolute;
  margin: 0;
  height: 400px;
}

.complex-filter-square label {
  color:#f2f2f2;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 300;
  font-size:16px;
}

.form-item-field-gross-area-value-min {
  display: inline;
}
.form-item-field-gross-area-value-max {
  display: inline;
}

.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}

.recall h3 {
  width: 95%;
  float: left;
  padding-top: 0px;
  margin-top: 5px;
  color: #000;
  font-size: 18px;
  margin-bottom: 0px;
}

.plan-home-section {
  display: none;
}

.over-plan {
  cursor: pointer;
}

.plan-home-section-floor {
  display: none;
}

.tab-menu-active {
  color: #2391af;
  font-size: 16px;
  cursor: pointer;
}

#admin-menu {
  z-index: 10000;
}

#user-login {
  top: 100px;
  position: absolute;
}

@media(max-width:960px){
  #index #menu{
    height: 50px;
    line-height: 50px;
  }
}

@media(max-width:960px){
  .ms-choice > div {
    background: none;
  }
}