
#form-search-hidden {
  display: none;
}

.form-item, .form-actions {
  margin: 0;
}

#views-exposed-form-map-map-city {
  display: none;
}

.yamaps-search-form {
  display: none;
}

.yamaps-map-container {
  position: absolute;
  margin: 0;
  height: 400px;
}

.complex-filter-square label {
  color:#f2f2f2;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 300;
  font-size:16px;
}

.form-item-field-gross-area-value-min {
  display: inline;
}
.form-item-field-gross-area-value-max {
  display: inline;
}

.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}

.recall h3 {
  width: 95%;
  float: left;
  padding-top: 0px;
  margin-top: 5px;
  color: #000;
  font-size: 18px;
  margin-bottom: 0px;
}

.plan-home-section {
  display: none;
}

.over-plan {
  cursor: pointer;
}

.plan-home-section-floor {
  display: none;
}

.tab-menu-active {
  color: #2391af;
  font-size: 16px;
  cursor: pointer;
}

#admin-menu {
  z-index: 10000;
}

#user-login {
 /* top: 100px;
  position: absolute;*/
}

@media(max-width:960px){
  #index #menu{
    height: 50px;
    line-height: 50px;
    font-size:12px;
  }
}

@media(max-width:960px){
  .ms-choice > div {
    background: none;
  }
}

.complex-menu h2{
  text-align: left;
  padding-left: 130px;
  font-size: 30px;
  margin-top: 20px;
  text-transform: uppercase;
  width: 100%;
  padding-right: 0px;
}

@media (max-width:1200px){
  .complex-menu h2 {
    text-align: left;
    padding-left: 130px;
    font-size: 22px;
    margin-top: 25px;
    text-transform: uppercase;
    width: 100%;
    /* padding-right: 70px; */
  }
}

.title-block h2{
  color:#fff;
  font-weight: 600;
  position: relative;
  font-size: 30px;
  width: 80%;
  text-transform: uppercase;
}


@media (max-width: 1200px){
  .title-block h2{
    font-size: 25px;
    margin-left: -5px;
  }
}
@media(max-width:1200px){
  .complex-filter-square-lebel{
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 1200px){
  .title-block p {
    font-size: 14px;
    margin-top: 5px;
    margin-left: -5px;
  }
}

@media(max-width:1200px){
  .apartment-image-vertical {
    height:80%;
  }
}

@media(max-width:1200px){
  .complex-filter-square-lebel{
    margin-left: 0px;
    margin-right: 0px;
  }
}

#views-exposed-form-complex-complexs {
  display: none;
}

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play {
  background: url(../images/fotorama.png) no-repeat;
  background: none;
}

#views-exposed-form-apartments-result-search {
  display: none;
}
#index #views-exposed-form-apartments-result-search {
  display: inline;
}

#views-exposed-form-stock-all-stock-city {
  display: none;
}

.password-strength {
  display: none;
}

input.password-confirm, input.password-field {
  width: 350px;
}

div.messages {

}

.payment-additional-fields {
  display: none;
}

.comparison {
  cursor: pointer;
}